#titulo-principal
{
    color:white;
    background-color:black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
     border: 1pt solid white;
     text-align:center
    
}

p{  color:white;
background-color:black;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
 border: 1pt solid white;
 text-align:center

}


header.{ color:white;background-color:orangered;font-style: normal;font-family: Arial, Helvetica, sans-serif; border: 1pt solid white;

}
footer{ color:white;background-color:orangered;font-style: normal;font-family: Arial, Helvetica, sans-serif;
}