body{background-color: black;}

#titulo-principal {
    color:white;
    background-color:black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: 1pt solid white;
    text-align:center;
    padding:10px;    
}

head{background-color: black;}
div{ background-color: black;}

p{color:white;
background-color:black;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
text-align:center;
padding:10px
}

*{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

a { 
    color:white;
    background-color:black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin: 15px;  
    padding: 10px;  
    }
    
#macadaapple    
    {padding: 30px}

    .botoes-redes-sociais
    {
    color:white;
    background-color:white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
     border: 1pt solid white;
     text-align:center;
     padding:10px;
    }

#foto-ultimo-iphone 
{
     text-align:center; 
     padding:10px;
    }

#tabela-iphone 
{ 
    color:white;
    background-color:black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin:30px;  
    padding: 10px;
    
    }